{% extends 'base.html' %}
{% block content %}

	<div class = 'container'>
		<div class = 'row'>
			{% if user.is_authenticated%}
			<ul>
				<li><h6>hi  {{request.user.username}}<h6></li>
				<li><a class ='btn btn-danger'href ='{% url "logout" %}'>Logout</a></li>
			</ul>
			{% else %}
			<ul>
				<li><a class ='btn btn-success'href ='{% url "signup" %}'>SignUp</a></li>
				<li><a class ='btn btn-danger'href ='{% url "login" %}'>Login</a></li>
			</ul>
			{% endif %}
		</div>
	</div>
{% endblock %}